<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser</title>
    <meta name="description" content="A url shortener microservice made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>A Url Shortener</h1>
    </header>

    <main>
      <h4>Short URL creation:</h4>
      <p>https://serious-tune.glitch.me/new/https://www.google.com</p>
      <h4>Response:</h4>
      <p>{"short_url":"https://serious-tune.glitch.me/Njku","original_url":"https://www.google.com/"}</p>
      <h4>Usage:</h4>
      <p>https://serious-tune.glitch.me/Njku  =&gt;  https://www.google.com/</p>
    </main>

    <footer>
    </footer>

  </body>
</html>
